body{
  
  width:100%;
  position:relative;
 
}
.container,
.container1{
  background: url("http://subtlepatterns2015.subtlepatterns.netdna-cdn.com/patterns/contemporary_china.png");
  height: 750px;
  width: 100%;
  border-top:2px solid #d3d3d3;

}
.navbar{
 
 position: relative;
 bottom: 30px;
}
.icons{
  position: absolute;
  left:960px;
  top: 65px;
  width: 270px;
  height: 720px;

  color: #4aaaa5;
   
}
.square{
  width: 250px;
  height:150px;
  background-color: white;
  z-index:1;
  position: relative;
  top:15%;


}
footer{
  text-align: center;
  width: 100%;
  background-color:#696969;
  height: 93px;
  position: relative;
  margin-top:0px;
  border-top: solid #4aaaa5 8px;
  color: white;
  font-family: 'Arial', 'Helvetica Neue', Helvetica, sans-serif;
}
h4{
  margin-top:30px;
  font-family:'Arial', 'Helvetica Neue', Helvetica, sans-serif;
}
a:hover{
  color: skyblue;
}
a:visted{
  color:purple;
}
a:active{
  color:red;
}
h1{
  margin-left:15%;
  margin-bottom:-35px;
  border: solid #4aaaa5;
  background-color: #4aaaa5;
  color:white;
  text-align: center;
  font-family: 'Indie Flower', cursive;
  font-size: 26px;
  height:50px;
  padding:25px 0 15px 0;
  font-weight:600;
  width: 200px;
}
i{
  position: relative;
  left:16%;
}
.link{
  color:#777777;
  margin-right:30px;
  text-decoration:none;
  position:relative;
  left:51%;
  font-family: 'Arial', 'Helvetica Neue', Helvetica, sans-serif;
  
  
}
  
.Aboutme{
  margin-left:15%;
  background-color:#ffffff;
  border-color:#dddddd;
  width: 600px;
  height: 600px;
  position:relative;
  top:8%
  
}
h2{
  color:#4aaaa5;
  position: relative;
  border-bottom: solid #d3d3d3 2px;
  margin: 20px;
  line-height: 80px;
  font-size:28px;
  font-weight:600;
}
p{
 line-height: 30px;
  font-family: 'Arial', 'Helvetica Neue', Helvetica, sans-serif;
  position:relative;
  top: 2%;
  margin: 20px;
}
h3{
  background-color:#ffffff;
  width:200px;
  text-align: center;
  position:relative;
  top:8%;
  line-height:60px;
  font-weight:600;
  font-size:20px;
  border-bottom:solid 2px #d3d3d3;;
  height:50px;
  z-index:9;
  margin-left:20px;
  
}
.images{
  position:relative;
  top:5%;
  background-color:#ffffff;
  width: 250px;
  height:100px;
   
  
}
#profile{
  margin:20px;
  position:relative;
 height:200px; 
 width:200px;
 float:left;
}
#facebook{
  position:relative;
  top:15%;
 margin-left:20px;
  
}
#github{
  position:relative;
  top:15%

}
#linkedin{
  position:relative;
  top:15%
  
}
#resume{
  position:relative;
  top:15%
  
}
/*second page*/
.form{
  margin:20px;
  font-family: 'Arial', 'Helvetica Neue', Helvetica, sans-serif;
}
#name{
  margin-top: 10px;
  margin-bottom: 10px;
}
#email{
  margin-top: 10px;
  margin-bottom: 10px;
}
#message{
  margin-top: 10px;
  margin-bottom: 15px;
}
.contact{
  margin-left:15%;
  background-color:#ffffff;
  border-color:#dddddd;
  width: 600px;
  height: 600px;
  position:relative;
  top:8%
}
#submit{
  background-color:#4aaaa5;
  border-color:#4aaaa5;
  color: white;
  width: 100px;
  height:40px;
  font-size:15px;
}
.portfolio{
  margin-left:15%;
  background-color:#ffffff;
  border-color:#dddddd;
  width: 600px;
  height: 600px;
  position:relative;
  top:8%
}
#hangman{
  background-color:#4aaaa5;
  color:white;
  width:240px;
  height:50px;
  font-family: 'Georgia', Times, Times New Roman, serif;
  font-size:18px;
  position:absolute;
  top:29%;
  left:2%;
}
#RPG-Game{
  background-color:#4aaaa5;
  color:white;
  width:240px;
  height:50px;
  font-family: 'Georgia', Times, Times New Roman, serif;
  font-size:18px;
  position:absolute;
  top:29%;
  left:49%;
}
#Trivia-Game{
  background-color:#4aaaa5;
  color:white;
  width:243px;
  height:50px;
  font-family: 'Georgia', Times, Times New Roman, serif;
  font-size:18px;
  position:absolute;
  top:55%;
  left:2%;
}
#RIW{
  background-color:#4aaaa5;
  color:white;
  width:240px;
  height:50px;
  font-family: 'Georgia', Times, Times New Roman, serif;
  font-size:18px;
  position:absolute;
  top:55%;
  left:49.8%;
}
#RPS{
  background-color:#4aaaa5;
  color:white;
  width:240px;
  height:50px;
  font-family: 'Georgia', Times, Times New Roman, serif;
  font-size:18px;
  position:absolute;
  top:81%;
  left:2.5%;
}
#portfolio1{
  margin-top:10px;
  margin-left:30px;
  height:140px; width:240px;
}
#portfolio2{
  margin-left:40px;
  height:140px; width:240px;
}
#portfolio3{
  margin-top:15px;
  margin-left:35px;
  height:140px; width:240px;
}
#portfolio4{
  margin-left:40px;
  height:140px; width:240px;
}
#portfolio5{
  margin-top:15px;
  margin-left:35px;
  height:140px; width:240px;
}
/*third page*/
#name{
  height:25px; 
  width:550px;
  }
#email{
  height:25px; 
  width:550px;
}
#message{
  height: 250px; 
  width: 550px;
}

/*media queries*/
/*index*/
@media screen and (max-width: 980px){
  body{
    width:980px;
    height:100%;
    }
  .container{
        width:980px;
    height:700px;
  
  }


  .Aboutme{
    width:40%;
    top:1%;
    height:650px;
  }
  #profile{
    width:350px;
    height:250px;
    margin-top:10px;
  }
  .square{
    position:relative;
    right: 140%;
    top:8%;
  }
  h2{
    font-size:24px;
  }
  .link{
    left: 60%;
  }
  p{
    font-size:12px;
  }

/*portfolio*/
.portfolio{
  width:30%;
    top:2%;
    height:1200px;
}
#portfolio1,
#portfolio2,
#portfolio3,
#portfolio4,
#portfolio5{
  height:180px; width:240px;
  margin-bottom:30px;
 
}
.container1{
  height:1350px;
}
#hangman,
#RPG-Game,
#Trivia-Game,
#RPS,
#RIW{
  width:240px;
  font-size:15px;
}
#hangman{
 top:18%;
  left:3%;
}
#RPG-Game{
  left:6%;
  top:37%;
}
#Trivia-Game{
  left:5%;
  top:56%;
}
#RPS{
  left:7%;
  top:73%;
}
#RIW{
  left:5%;
  top:92%;
}
/*contact*/
.contact{
  width:40%;
    top:3.5%;
    height:630px;
}
#name,
#email,
#message{
  width:350px;
}

}
@media screen and (max-width: 768px){
 
body{
    width:768px;
    height:100%;
  }
  .container{
    width:768px;
    height: 1100px;
  }
  .Aboutme{
    width:80%;
    top:1%;
    height:750px;
    right:6%;
  }
  #profile{
    width:250px;
    height:250px;
    margin-top:10px;
  }
  .square{
    position:relative;
    width:225%;
    height:180px;
    top:120%;
 left:-890px;
  }
  h2{
    font-size:24px;
  }
  .link{
    left: 60%;
  }
  p{
    font-size:15px;
  }
  h3{
    width:90%;
    text-align:left;
    margin-bottom:10px;
    padding-bottom:10px;
  }
  .images{
    width:100%;
  }
  #facebook,
  #github,
  #linkedin,
  #resume{
    margin-right:5px;
  }
  /*portfolio*/
  .container1{
    height:1100px;
  }
  .portfolio{
    width:80%;
    top:1%;
    height:780px;
    right:6%;
  }
  #hangman,
#RPG-Game,
#Trivia-Game,
#RPS,
#RIW{
  font-size:20px;
}
#hangman{
 top:28%;
  left:2%;
}
#RPG-Game{
  left:48%;
  top:28%;
}
#Trivia-Game{
  left:2.5%;
  top:56%;
}
#RPS{
  left:2.5%;
  top:85%;
}
#RIW{
  left:49%;
  top:56%;
}
/*contact*/
.contact{
  width:80%;
    top:1%;
    height:650px;
    right:6%;
}
#name,
#email,
#message{
  width:550px;
}
.square3{
  top:105%;
}
.container3{
  height:1000px;
}
}
@media screen and (max-width: 640px){
header{
  position:static;
}
h1{

  width:100%;
  margin:0;
  font-size:32px;
}
.navbar{
  width:640px;
  bottom:0px;
  text-align:center;
 padding:10px;
  margin-top:0px;
}
.link{
  left:5%;
  font-size:16px;
  
}
#about{
  margin-right:150px;
}
#portfolio{
  margin-right:150px;
}
body{
    width:640px;
   height:auto;
    
  }
  .container{
    width:640px;
    height: 1300px;
   
  }
   .Aboutme{
    width:550px;
  margin-left:10%;
  height:900px;
  
   }
   h2{
    font-size:32px;
   }
   #profile{
    width:500px;
    height:450px;
  }
  .square{
    left:-930px;
    width:550px;
    top:150%;
    
  }
  
  /*portfolio*/
 
  .portfolio{
    width:550px;
  margin-left:10%;
  height:2270px;
 
  }
  .container1{
     width:640px;
    height: 2550px;
   
    
  }
  .square1{
    top:335%;
  }
  #portfolio1,
#portfolio2,
#portfolio3,
#portfolio4,
#portfolio5{
  height:400px; width:500px;
  margin-bottom:20px;
 
}

#hangman,
#RPG-Game,
#Trivia-Game,
#RPS,
#RIW{
  width:500px;
  font-size:25px;
  text-align:center;
}
#hangman{
 top:18%;
  left:2%;
}
#RPG-Game{
  left:4%;
  top:37%;
}
#Trivia-Game{
  left:3%;
  top:56%;
}
#RPS{
  left:3.5%;
  top:75%;
}
#RIW{
  left:3%;
  top:94%;

}
/*contact*/
.contact{
   width:550px;
  margin-left:10%;
  height:700px;
}
#name,
#email,
#message{
  width:500px;
}
.square3{
  top:120%;
}
.container3{
  height:1050px;
}
}